node_modules
yarn.lock
package-lock.json
.DS_Store

#Hardhat files
cache
coverage
coverage.json
.history
.idea
.hardhat
secrets.ts
.openzeppelin
.tenderly
arguments-*.js
sh
tmp
settings.ts
.env
docs
artifacts
typechain